.report-title .ant-card-head-title {
  color: gray;
  font-size: 18px;
  text-align: center;
}

.div-detail {
  height: 100px;
  align-items: center;
  color: rgb(165, 163, 163);
  font-size: 16.5px;
  background-color: #001529;
}

.report-date {
  border-bottom: solid 0.5px gray;
}

.review-msg {
  text-align: justify;
}

.review-txt {
  font-size: 16.5px;
}
